html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./depositphotos_345634102-stock-illustration-pokeball-icon-sign-seamless-pattern.jpg');
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #FFFDEE;
    border-radius: 25px;
    height: 65vh;
    flex-wrap: wrap;
}

.left{
    width: 50vh;
    background-image: url(./pikachu-g6ec30690c_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.right{
    width: 50vh;
    max-width: 50vh;
    box-sizing: border-box;
    padding: 1rem 4rem 1rem 4rem;
}

.register-link{
    text-align: right;
    color: #00233C;
    font-weight: 400;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.form-header{
    text-align: center;
    font-weight: 700;
    color:#00233C;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    border:none;
    border-radius: 15px;
    width: 100%;
    background-color: #e2e2e2;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.2rem;
    margin-bottom: 2.5vh;
    box-sizing: border-box;
}

.button{
    width: 100%;
    background-color: #00233C;
    color:#F2EFD2;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 600;
}

.recovery-password{
    text-align: right;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00233C;
    color:#F2EFD2;
    padding: 0.2rem 10rem;
}

.nav-header{
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
}

.nav-links li a{
    color:#F2EFD2;
    text-decoration: none;
    padding: 0rem 5rem;
    font-size: 1.2rem;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color:#f3e870;
}

.dropdown{
    position: relative;
}

.dropdown a.user-button{
    color:#F2EFD2;
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.dropdown a.user-button:hover{
    color: #f3e870;
}

.dropdown ol{
    background-color: #013358;
    width: 10vh;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    padding: .5rem;
    text-align: center;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.25);
    margin-top: 0.5rem;
    display: none;
}

.dropdown ol li{
    padding: .5rem;
}

.dropdown ol li:hover a{
    cursor: pointer;
    color:#f3e870;
}

.dropdown ol li a{
    color:#F2EFD2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
}

.dropdown a:focus + ol,
.dropdown a:hover + ol,
.dropdown ol:hover{
    display: block;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}

.card{
    min-width:50vh;
    background-color: #D9D9D9;
    margin: 0rem 2rem;
    display: flex;
    border-radius: 15px;
    box-shadow: 5px 10px 23px 0px rgba(0,0,0,0.50);
    margin-bottom: 4rem;
    transition: all ease-in 0.1s;
}

.single-card-container{
    display:flex;
    flex-direction: column;
}
.single-card{
    width: 70vh;
    min-width:50vh;
    background-color: #D9D9D9;
    /* margin: 0rem 2rem; */
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.25);
    margin-bottom: 1rem;
    transition: all ease-in 0.1s;
}

.single-card .card-image{
    min-width: 40vh;
}

.options{
    background-color: #e2e2e2;
    border-radius: 15px;
    width:70vh;
    min-width: 50vh;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.options img{
    width: 45px;
    transition: all ease-in-out 1s;
}

.options img:hover{
    scale: 1.1;
}

.card:hover{
    scale: 1.05;
}

.card-image{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width:30vh;
    background-image: linear-gradient(#F2EFD2, #D9D9D9);
    
}

.card-content{
    font-family: 'Press Start 2P', cursive;
    padding: .5rem 1rem;
}

/* @media (max-width: 800px){
    main{
        margin-top: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        height: 65vh;
    }

    .left{
        height: 50vh;
    }

    .right{
        margin-top: 50vh;
        width: 50vh;
        max-width: 50vh;
        box-sizing: border-box;
        padding: 1rem 4rem 1rem 4rem;
    }
    
} */